# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*
*.env

# Flask
instance/
*.log

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter (혹시)
.ipynb_checkpoints/

# Mongo (로컬 데이터 파일을 프로젝트에 두었다면)
data/
